#Ignore json
*.json

#Ignore local files
*.vscode/*
*/*.dSYM/*

#Ignore executables
cooking
youtube
humanity
overloading
helloworld

#Ignore cpp output files
*.out

#Ignore CMAKE
*cmake*

#Misc
*.DS_store
